body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #001c50;;
    color: #fff;
    font-weight: bolder;
    font-size: 120%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    gap: 50px;
}
.lateral {
    width: 30%;
    height: 100%;
    background-color: #001c50;
    padding: 20px;
}
.boton{
    width: 90%;
    padding: 2%;
    margin: 2%;
    background-color: #f87306;
    font-size: 90%;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 20px;
    border: 3px; 
}

.boton:hover{
    width: 90%;
    padding: 2%;
    margin: 2%;
    background-color: #f87306ab;
    font-size: 93%;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 20px;
}

.texto{
    font-weight: bold;
    color:antiquewhite;
    align-items: center;
    justify-content: center;
    
}

.buscar {
    padding: 2%;
    
}

footer{
    background-color: #001c50;
    color: #fff;
    font-weight: bolder;
    font-size: 120%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ICONOS*/
.icono-lupa::before {
    content: "\1F50D"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
}

.icono-tag::before {
    content: "\1F516"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
}

.icono-chat::before {
    content: "\💬"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
}

.icono-audio::before {
    content: "\1F4E3"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
}
.icono-camara::before {
    content: "\1F4F7"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
}

.icono-ubicacion::before {
    content: "\1F4CD"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
}

.icono-info::before {
    content: "\1F5DF"; /* Lupa */
    font-size: 24px; /* Tamaño del ícono */
    backcolor: #001c50; /* Color del ícono */
}